.comfort__wrapper {
  .container();
  padding-top: 30px;
}
.comfort__item {
  background-color: #ffffff;
  position: relative;
  padding-left: 50px;
}
.comfort__title {
  margin: 0;
  //padding-left: 50px;
}
.comfort__house::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  left: 0px;
  top: 0px;
  background: transparent url("../img/icon-house.svg") no-repeat center/cover;
}
.comfort__souvenir::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  left: 0px;
  top: 0px;
  background: transparent url("../img/icon-gift.svg") no-repeat center/cover;
}
.comfort__food::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  left: 0px;
  top: 0px;
  background: transparent url("../img/icon-burger.svg") no-repeat center/cover;
}
.comfort__title--big {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform:@text-transform;
}
.comfort__about {
  margin: 0;
  //margin-left: 50px;
  margin-top: 19px;
  margin-bottom: 34px;
}
.comfort__about--big {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: @text-transform;
}
