.information {
  background-color: #ffffff;
}
.comment__title--big {
  .font-family-bold();
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform:@text-transform;
}
.comment__about--big {
  .font-family-normal();
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: @text-transform;
}
.comment__image {
  height: 200px;
  background: url("../img/foto-video_image.jpg") no-repeat;
}
