.excellence-area {
  background-color: #eeeeee;
  padding: 0 20px;
  padding-top: 33px;
  padding-bottom: 26px;
  border-bottom: 1px solid #d6d6d6;
}
.excellence-area__title {
  margin-top: 0px;
}
.excellence-area__title--big {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform:@text-transform;
}
.excellence-area__number--big {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}
.excellence-area__about {
  margin-bottom: 0px;
}
.excellence-area__about--big {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: @text-transform;
}
