.information-form-introduce {
  background-color: #ffffff;
}
.information-form-introduce__legend--big {
  .font-family-bold();
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  .uppercase();
}
.information-form-introduce__label--big {
  .font-family-normal();
  .uppercase();
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
